body {
    background-color: #FFE3A9; 
} /********body color*******/

.footer {    
    text-align: center;    
} /********footer alignment*******/

.basket {
    height: 270px;
    width: 460px;
}  /********yarn basket image*******/

.heart {
    height: 270px;
    width: 460px;
}   /********yarn heart image*******/

.yarnCloset {
    height: 530px;
    width: 460px;
}   /********yarn closet image*******/

